{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./src"],
          "alias": {
            "@common": "./src/common",
            "@features": "./src/features"         }
        }
      ]
    ],
    "env": {
      "test": {
        "plugins": ["transform-es2015-modules-commonjs"]
      }
    }
  }